.list {
  list-style: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.friendList {
  margin-bottom: 24px;
}
.item {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 10px 10px;
  margin-bottom: 24px;
  background-color: aliceblue;
  border-radius: 12px;
  max-width: 100%;
  width: 360px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.status {
  display: block;
  border-radius: 50%;
  margin-left: 32px;
  width: 20px;
  height: 20px;
  background-color: rgba(17, 158, 15, 0.521);
}
.avatar {
  outline: 1px solid rgba(97, 99, 100, 0.83);
  padding: 10px;
  background-color: rgba(239, 192, 81, 0.229);
  width: 60px;
  height: 60px;
  border-radius: 8px;
}
.name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
